@{
    ViewData["Title"] = "Прайс";
}
<h1>@ViewData["Title"]</h1>

<p>На днной странице вы можете ознакомиться с нашей продукцией и ее стоимостью.</p>

<asp:image runat="server" id="Image1"
           ImageUrl="~/Pictures/logo.png" />
