@{
    ViewData["Title"] = "Рецепты";
}
<h1>@ViewData["Title"]</h1>

<p>Рецепты из домашних продуктов</p>

<div>

    @*<asp:img src="/Pictures/logo.jpg" />*@
    <img src='@Url.Content("~/Pictures/logo.png")' />
</div>
